<template>

  <div class="table" :class="{ trades : tableTrades }">
    <div class="row headline">
      <span class="th">id</span>
      <span class="th">price</span>
      <span class="th">quantity</span>
    </div >
    <transition-group name="ani-left" class="row-wrapper">
      <div class="row" v-for="item in tableData" v-bind:key="item.id" v-on:click="showTradeInfo(item)">
        <span class="td" >{{item.id}}</span>
        <span class="td" >{{item.price}}</span>
        <span class="td" >{{item.quantity}}</span>
      </div>
    </transition-group>
  </div>

</template>


<script type="text/babel">

  export default {
    props  :['tableData', 'tableTrades'],
    data() {
      return{
      }
    },
    methods: {
      showTradeInfo(trade){
        if(!this.tableTrades) return;
        this.$emit('trade', trade);
      }
    },
    mounted(){

    }
  };
</script>

<style lang="scss" rel="stylesheet/scss">

@import "../assets/config.scss";

.table{
  width: 100%;
  &.trades{
    .row:not(.headline){
      transition: ease all 0.3s;
      cursor: pointer;
      border-radius: 5px;
      &:hover{
        background: $tur;
        border-radius: 5px;
        color: white;
      }
    }
  }
}
.row-wrapper{
  display: block;
  position: relative;
  width: 100%;
}
.row{
  width: 100%;
}
.th,
.td{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding: 3px 0px;
  margin: 0px auto;
}
.th{
  font-weight: 600;
  margin-bottom: 20px;
}




</style>
