<template>

    <transition name="ani-top">
      <div class="trade-info" v-if="tradeData">
        <h3 class="trade-info-h">Trade information</h3>
        <div class="row">id: {{tradeData.id}}</div>
        <div class="row">time: {{tradeData.timeF}}</div>
        <div class="row">sell price: {{tradeData.sellInfo.price}}</div>
        <div class="row">buy price: {{tradeData.buyInfo.price}}</div>
        <div class="row">trade price: {{tradeData.price}}</div>
        <div class="row">trade quantity: {{tradeData.quantity}}</div>
      </div>
    </transition>

</template>


<script type="text/babel">

  export default {
    props  :['tradeData'],
    data() {
      return{
      }
    },
    methods: {

    },
    mounted(){

    }
  };
</script>

<style lang="scss" rel="stylesheet/scss">

@import "../assets/config.scss";

.trade-info{
  position: relative;
  background: $tur;
  border-radius: 10px;
  padding: 10px 0px 20px;
  color: white;
  .row{
    padding: 2px;
    margin: 2px;
  }
}
.trade-info-h{
  font-size: 25px;
}




</style>
