$green: #77BB49;
$red: #FF0048;
$tur: #00A18D;

$red-t: rgba(255,0,72,0.3);
$green-t: rgba(119,187,73,0.3);
$tur-t: rgba(0,161,141,0.3);

.ani-top-enter-active, .ani-top-leave-active {
  transition: all ease .3s;
  transform: translate(0,0px);
}
.ani-top-enter, .ani-top-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translate(0,-10px);
}

.ani-left-enter-active, .ani-left-leave-active {
  transition: all ease .3s;
  transform: translate(0,0px);
}
.ani-left-enter{
  opacity: 0;
  transform: translate(-10px,0px);
}
.ani-left-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translate(10px,0px);
}
