<template>
  <div id="app">
    <div class="">
      <!-- <img src="./assets/logo.png"> -->
    </div>

    <div class=" tables-wrapper">
      <div class="col buy-wrapper">
        <h4 class="col-h">buy(bid)</h4>
        <app-table :tableData="ordersData.buy" :tableTrades="false"  ></app-table>
      </div>
      <div class="col sell-wrapper">
        <h4 class="col-h">sell(ask)</h4>
        <app-table :tableData="ordersData.sell" :tableTrades="false" @trade="tradeInfo = $event"  ></app-table>
      </div>
      <div class="col trades-wrapper">
        <h4 class="col-h">trades</h4>
        <app-table :tableData="tradesData" :tableTrades="true" @trade="tradeInfo = $event"  ></app-table>
      </div>
    </div>
    <div class="trade-info-wrapper">
      <app-trade-info :tradeData="tradeInfo" ></app-trade-info>
    </div>

  </div>

</template>

<script>

import AppTable from './components/table.vue';
import AppTradeInfo from './components/tradeInfo.vue';

export default {
  name: 'app',
  components: {
    AppTable,
    AppTradeInfo,
  },
  data () {
    return {
      ordersData: {sell: [], buy:[]},
      orderBy: {sell: 'asc', buy:'desc'},
      tradesData: [],
      maxOrderItems: 20,
      maxTradeItems: 30,
      tradeID: 0,
      fetchId: 0,
      tradeInfo : null
    }
  },
  events: {
    eventName: function (argument) {
      // logic
    },
  },
  methods: {
    resetServer(){
      let getUrl = 'http://localhost:5001/reset';
      this.$http.get( getUrl )
      .then( response => {
        console.log('reset server');
      })

    },
    fetchData(){
      let getUrl = 'http://localhost:5001/listOrders?start='+ this.fetchId +'&size=1';
      this.$http.get( getUrl )
      .then( response => {
        return response.json();
      }).then(data => {

        if(data.length == 0) return;
        this.fetchId++
        this.addUpOrderQuantity(data[0]);

      })
    },
    addUpOrderQuantity(data){
      if(this.ordersData[data.type].length == 0){
        this.ordersData[data.type].push( data );
      }else{
        let pushNewOrder = true;
        this.ordersData[data.type].find( d => {
          if(d.price == data.price){
            d.quantity += data.quantity;
            pushNewOrder = false;
          }
        });
        if(pushNewOrder) this.ordersData[data.type].push( data );
      };
      this.ordersData[data.type] = _.orderBy(this.ordersData[data.type], 'price', this.orderBy[data.type]).slice(0, this.maxOrderItems);
      this.makeTrade();
    },
    makeTrade(){
      if(this.ordersData.sell[0]==undefined || this.ordersData.buy[0]==undefined) return;
      let sellQ = this.ordersData.sell[0].quantity;
      let buyQ = this.ordersData.buy[0].quantity;
      let q = {sell : null, buy:null, finQ: null};
      let tradeQuantity = () => {
        sellQ >= buyQ ? q = {sell: sellQ - buyQ, buy: 0, finQ: buyQ } : q = {sell: 0, buy: buyQ - sellQ, finQ: sellQ };
        return q.finQ ;
      }
      if(this.ordersData.sell[0].price <= this.ordersData.buy[0].price){
        let date = new Date();
        let timeStamp = date.getTime();
        let timeStampF = date.getHours() + ' : ' + date.getMinutes() + ' : ' + date.getSeconds();
        let tradePrice = (this.ordersData.sell[0].price + this.ordersData.buy[0].price) / 2;
        let newTrade = { id: this.tradeID , time: timeStamp, timeF: timeStampF, quantity: tradeQuantity() , price: tradePrice, sellInfo: this.ordersData.sell[0], buyInfo: this.ordersData.buy[0] };
        this.ordersDataUpdate( q );
        this.tradesData.push(newTrade);
        this.tradesData = _.orderBy(this.tradesData, 'time', 'desc').slice(0, this.maxTradeItems);
        this.tradeID ++;
      }
    },
    ordersDataUpdate(q){
      this.ordersData.sell[0].quantity = q.sell;
      this.ordersData.buy[0].quantity = q.buy;
      if(this.ordersData.buy[0].quantity == 0) this.ordersData.buy.shift();
      if(this.ordersData.sell[0].quantity == 0) this.ordersData.sell.shift();
    },
  },
  created() {
    this.resetServer();
  },
  mounted() {
    let fetchInterval = setInterval( () => {
      this.fetchData();
    },250)
  },
  computed: {


  }
}
</script>

<style lang="scss">

  @import "./assets/config.scss";

  $tableRad: 10px;

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 25px;
    text-align: center;
  }
  div, p{
    margin: 0 auto;
    padding: 0;
  }
  table{
    position: relative;
    width: 100%;
    tr{
      position: relative;
    }
  }

  .trade-info-wrapper,
  .tables-wrapper{
    width: 75%;
    display: inline-block;
    vertical-align: top;
    position: relative;

  }
  .trade-info-wrapper{
    width: 24%;
  }

  .col{
    position: relative;
    width: 32%;
    display: inline-block;
    margin: 0px;
    padding: 10px 0px;
    vertical-align: top;
    &.buy-wrapper{
      background: $green-t;
      border-top-left-radius: $tableRad;
      border-bottom-left-radius: $tableRad;
    }
    &.sell-wrapper{
      background: $red-t;

    }
    &.trades-wrapper{
      border-top-right-radius: $tableRad;
      border-bottom-right-radius: $tableRad;
      background: $tur-t;
    }
  }
  .col-h{
    text-transform: capitalize;
    font-size: 18px;
  }




</style>
